// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      p Elearning.panasonic.ru
        span  -  
        | Учебный центр Panasonic
        br 
        | © ООО «Панасоник Рус», 2018
      a(href="#") Дизайн — pixl.ru
      
      
// FOOTER :: END
