// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo-container
        a(href="#").header__logo
          +svgMono('logo')
        a(href="#").header__logo-info Учебный центр
      .header__menu
        a.header__menu-item
          .header__menu-icon
            +svgMono('star')
          | 95
        a.header__menu-item
          .header__menu-icon
            +svgMono('mail')
          | 3
        a.header__menu-item
          .header__menu-icon
            +svgMono('stimulation')
          | 2
        a.header__menu-item
          .header__menu-icon
            +svgMono('courses')
          | 3
        a.header__menu-item
          .header__menu-icon
            +svgMono('tests')
          | 3

      .header__user
        a.header__user-image(href="#")
          img(src="img/user.png", alt="")
        a.header__user-logout(href="#") Выход
        
      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner

  .header__nav
    .container
      .header__nav-wrapper
        ul.header__nav-list
          li
            a.header__nav-item(href="#") Обучение
          li
            a.header__nav-item(href="#") Форум
          li
            a.header__nav-item(href="#") Конкурсы
          li
            a.header__nav-item(href="#") Акции
          li
            a.header__nav-item(href="#") Магазин
          li
            a.header__nav-item(href="#") Помощь
        .header__nav-lang
          a(href="#" js-language-btn).header__language.is-active
            img(src="img/rus.jpg", alt="")
            span RUS
          a(href="#" js-language-btn).header__language
            img(src="img/kz.jpg", alt="")
            span KZ
          a(href="#" js-language-btn).header__language
            img(src="img/by.jpg", alt="")
            span BY
          a(href="#" js-language-btn).header__language
            img(src="img/by.jpg", alt="")
            span BY
      
        
// HEADER :: END
