---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content

  // BEGIN SECTION :: FIRSTSCREEN
  section.firstscreen.wow
    .container
      .firstscreen__grid
        .firstscreen__sidebar
          .firstscreen__sidebar-content
            .firstscreen__head
              .firstscreen__image
                img(src="img/user.png", alt="")
              p.firstscreen__name Екатерина Николаева
            ul.firstscreen__menu
              li
                a.firstscreen__item
                  .firstscreen__menu-icon
                    +svgMono('star')
                  span Баллы — 90
              li
                a.firstscreen__item
                  .firstscreen__menu-icon
                    +svgMono('mail')
                  span Собщения — 3
              li
                a.firstscreen__item
                  .firstscreen__menu-icon
                    +svgMono('stimulation')
                  span Поощрения — 2
              li
                a.firstscreen__item
                  .firstscreen__menu-icon
                    +svgMono('courses')
                  span Незавершенные курсы — 3
              li
                a.firstscreen__item
                  .firstscreen__menu-icon
                    +svgMono('tests')
                  span Незавершенные тесты — 3
        .firstscreen__right
          .firstscreen__parallax(js-parallax-scene)
            img(src="img/parallax-1.svg", alt="" data-depth="0.5")
            //- .firstscreen__parallax-icon
            //-   +svgMono('parallax-1')
          .firstscreen__info
            h1.firstscreen__title Получай призы
            p.firstscreen__desc отвечая на вопросы, проходя тесты и общаясь на форуме ты можешь получить баллы, на которые можно покупатьпризы в нашем магазине!
          .firstscreen__image-desktop
            img(src="img/main-desktop.png", alt="")

  // END SECTION :: FIRSTSCREEN

  // BEGIN SECTION :: main
  section.main.wow
    .container
      .main__grid(js-masonry)
        .main__item
          form(action="#")
            .main__item-container.main__item-container--form
              h2 Микроволновые печи: Инверторное управление магнетроном:
              .main__radio-buttons
                .input-container
                  label.radio(for="c1")
                    input#c1(type="radio" name="group1")
                    .radio__text Сохраняет витамины
                .input-container
                  label.radio(for="c2")
                    input#c2(type="radio" name="group1")
                    .radio__text Быстро и бережно размораживает продукты
                .input-container
                  label.radio(for="c3")
                    input#c3(type="radio" name="group1")
                    .radio__text Все вышеперечисленное
                .input-container
                  label.radio(for="c4")
                    input#c4(type="radio" name="group1")
                    .radio__text Экономит электроэнергию
              input.main__button(type="submit", value="ответить")
              a.main__points(href="#")
                .main__points-icon
                  +svgMono('star')
                span Как зарабатывать баллы
              .main__item-bottom
                p.main__rank.main__rank--blue Вопрос дня

        .main__item
          a.main__item-container.main__item-container--yellow(href="#")
            h2 Константин Константинов Константинопольский
            p.main__info получил 5 баллов за предыдущий Вопрос дня (Хлебопечки: Внутреннее покрытие стенок ведра)
            .main__item-bottom
              p.main__rank.main__rank--yellow Победитель
              .main__icon
                +svgMono('win')

        .main__item.main__item--large.main__item--shop
          a.main__item-container.main__item-container--large.main__item-container--yellow(href="#")
            h2 магазин
            p.main__info Здесь можно потратить баллы
            .main__image-camera
              img(src="img/camera.png", alt="")
            .main__item-bottom
              p.main__rank.main__rank--yellow Мотивация

        .main__item.main__item--item4
          a.main__item-container.main__item-container--yellow(href="#")
            h2 Баллы и репутация
            p.main__info что нужно сделать, чтобызаработать и обменять баллы
            .main__image-gold
              img(src="img/gold.png", alt="")
            .main__item-bottom
              p.main__rank.main__rank--yellow Мотивация

        .main__item.main__item--item5
          a.main__item-container.main__item-container--turquoise(href="#")
            h2 ФОРУМ
            p.main__info Если вы не зарегистрированы на форуме, перейдите на 
              span.main__link страницу регистрации
            .main__item-bottom
              p.main__rank.main__rank--turquoise Развлечение
              .main__icon
                +svgMono('speak')

        .main__item.main__item--item6
          a.main__item-container.main__item-container--blue(href="#")
            h2 обзор техники
            p.main__info размести свой обзор и получидо +200 баллов
            .main__item-bottom
              p.main__rank.main__rank--blue Развлечение
              .main__icon
                +svgMono('tv')

        .main__item
          a.main__item-container.main__item-container--blue(href="#")
            h2 Электробритвы ES-RT77-S520
            p.main__info Оставьте ваше мнение (что нравится, что не нравится, что следует изменить в товаре дня) и получите 1 балл. Лучший ответ за неделю +50 баллов в кошелек.
            p.main__info
              span.main__link Написать мнение
            .main__item-bottom
              p.main__rank.main__rank--blue Развлечение
              .main__icon
                +svgMono('like2')
        
        .main__item
          a.main__item-container.main__item-container--turquoise(href="#")
            h2 фотоконкурс
            p.main__info Тема: Япония
            p.main__info Задача: Сделайте фото на тему Япония и пришлите нам.
            p.main__info Приём работ: с 28.08 по 09.09 включительно
            .main__item-bottom
              p.main__rank.main__rank--turquoise Развлечение
              .main__icon
                +svgMono('photo')

        .main__item.main__item--large
          a.main__item-container.main__item-container--large.main__item-container--finder(href="#")
            .main__image-banner
              img(src="img/finder.jpg", alt="")
            .main__play
              .main__play-icon
                +svgMono('play')
            .main__item-bottom
              p.main__rank.main__rank--blue Развлечение

        .main__item
          .main__item-container.main__item-container--typical
            .main__image-slide
              // Swiper
              .swiper-container(js-main-slider)
                .swiper-wrapper
                  .swiper-slide
                    img(src="img/main-slide.png", alt="")
                  .swiper-slide
                    img(src="img/main-slide.png", alt="")
                  .swiper-slide
                    img(src="img/main-slide.png", alt="")
                // Add Pagination
                .swiper-pagination

        .main__item.main__item--large
          a.main__item-container.main__item-container--large.main__item-container--banner(href="#")
            h2.sale РАССРОЧКА!
            .main__image-banner
              img(src="img/banner.jpg", alt="")

        .main__item
          a.main__item-container.main__item-container--orange(href="#")
            h2 Рейтинг
            p.main__info участников сайта elearning.panasonic.ru
            .main__image-medal
              img(src="img/medal.png", alt="")
            .main__item-bottom
              p.main__rank.main__rank--orange Олимпиада Panasonic
  // END SECTION :: main

  // BEGIN SECTION :: NEWS
  section.news.wow
    .container
      .news__head
        p.news__title новости
        a.news__more(href="#") Все новости
      .news__slider(js-slider-news)
        .swiper-wrapper
          .news__item
            a.news__item-container(href="#")
              .news__item-head
                p.news__item-date 10 мая 2018
                p.news__item-info Корпорация Panasonic представила результаты 2018 финансового года(с 01.04.2017 по 31.03.2018)
              .news__item-image
                img(src="img/news-1.jpg", alt="")
          .news__item
            a.news__item-container(href="#")
              .news__item-head
                p.news__item-date 6 февраля 2018
                p.news__item-info Японские технологические гиганты разработают аккумуляторы нового поколения.
              .news__item-image
                img(src="img/news-2.jpg", alt="")
          .news__item
            a.news__item-container(href="#")
              .news__item-head
                p.news__item-date 3 марта 2018
                p.news__item-info Panasonic объявляет «Век инноваций»
              .news__item-image
                img(src="img/news-3.jpg", alt="")
          .news__item
            a.news__item-container(href="#")
              .news__item-head
                p.news__item-date 10 января 2018
                p.news__item-info Корпорация Panasonic представила результаты 9 месяцев 2018 финансового года (с 01.04.2017 по 31.12.2017). Самый подробный Самый подробный Самый подробный Самый подробный
              .news__item-image
                .news__play
                  .news__play-icon
                    +svgMono('play')
                img(src="img/news-4.jpg", alt="")

  // END SECTION :: NEWS