// FOOTER
.footer
  background: #fff
  &__wrapper
    display: flex
    align-items: flex-start
    padding: 43px 0

    p
      font-family: $baseFont
      font-size: 14px
      margin: 0
      font-weight: 500
      color: $fontColor
      margin-right: 25px
    a
      margin-left: auto
      font-size: 14px
      font-weight: 500
      transition: color .25s $ease, border-color .25s $ease
      color: $fontColor
      border-bottom: 1px solid transparent
      &:hover
        color: $colorBlue
        border-color: $colorBlue