.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-logo {
  width: 6.38em;
  height: 1em;
  fill: initial;
}
.ico-mono-star {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
