.ico-mono-courses {
  width: 1.24em;
  height: 1em;
  fill: #000;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-like {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.ico-mono-logo {
  width: 6.38em;
  height: 1em;
  fill: initial;
}
.ico-mono-mail {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.ico-mono-star {
  width: 1.02em;
  height: 1em;
  fill: #000;
}
.ico-mono-star1 {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.ico-mono-stimulation {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.ico-mono-tests {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
